<div class='container border border-primary'>
  <div>
    <p>Tesla (TSLA)</p>
    <div class='d-flex justify-content-between mb-4'>
      <div class='col-3 d-flex flex-row justify-content-around border border-primary'>
        <div>
          <p>Month</p>
          <p>Change</p>
          <p>MSPR</p>
        </div>
        <div>⮭</div>
      </div>
      <div class='col-3 d-flex flex-row justify-content-around border border-primary'>
        <div>
          <p>Month</p>
          <p>Change</p>
          <p>MSPR</p>
        </div>
        <div>⮭</div>
      </div>
      <div class='col-3 d-flex flex-row justify-content-around border border-primary'>
        <div>
          <p>Month</p>
          <p>Change</p>
          <p>MSPR</p>
        </div>
        <div>⮭</div>
      </div>
    </div>
    <button class='btn btn-primary mb-4' [routerLink]="['/track-stock']"><--Back</button>
  </div>
</div>